.container{
    height: 100vh;
    background-image: url(/assets/images/background-login.jpg);
    background-size: cover;
}

.form-login{
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
}

.login-img{
    border: none;
}

.subscribe-btn{
    background-color: transparent;
    color: white;
    border: none;
    text-decoration: underline;
   }

.facemail-btn{
    background-color: transparent;
    border: none;
}

