.teste{
    height: 100vh;
    background-image: url(/assets/images/background-login.png);
    background-size: cover;
}

.form-login{
    border: none;
}

.login-img{
    border: none;
}

.subscribe-btn{
    background-color: transparent;
    color: rgb(59, 59, 59);
    border: none;
    text-decoration: underline;
   }

.facemail-btn{
    background-color: transparent;
    border: none;
}

.modalteste{
    background-color: rgba(255, 255, 255, 0.5);
}

