.screen-login{
    background-color: #eee;
}

.section-register{
    max-width: 50%;
    padding: 2%;
    margin: auto;
}

.section-login input[type="email"]{
    margin-bottom: 2%;
    margin-top: 2%;
}

.form-control{
    position: relative;
    margin: auto;
    height: auto;
    box-sizing: border-box;
}
