.login-section{
    background-image: url(../assets/images/background-login.png);
    background-size: cover;
    height: 100%;
}

.img-logo{
    width: 100%; 
    height: 100%;   
}  


.form-login{
    border: none;
    font-family: "Viga" 
}

.login-img{
    border: none;
}

.login-btn{
    font-family: "Viga";
}

.subscribe-btn{
    color: rgb(59, 59, 59);
    border: none;
    text-decoration: underline;
    font-family: "Viga";
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
   }

.facemail-btn{
    background-color: transparent;
    border: none;
}

.modalteste{
    background-color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 500px){

.img-logo{
    width: 50%; 
    height: 100%;
}
.subscribe-btn{
    background-color: transparent;
    color: rgb(59, 59, 59);
    border: none;
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.5);
   }

.login-section{
    background-image: url(../assets/images/bjorn-radestrom-646516-unsplash.jpg);
    background-size: cover;
}

}
